.location-map {
  margin-bottom: rhythm(.5);
  .map-wrap {
    position: relative;
    padding-top: 100%;
    .google-map {
      color: black;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      img {
        max-width: none;
      }
    }
  }
}