%script{ :src => "https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false" }
%script{ :src => "/javascripts/fastclick.js" }
%script{ :src => "/javascripts/functions.js" }
%script{ :src => "/javascripts/hero.js" }
%script{ :src => "/javascripts/jquery.colorbox-min.js" }
%script{ :src => "/javascripts/site.js" }
%script
  _site().setup();

%script{ :src => "/javascripts/all.js" }
