- content_for :hero do
  = render "/hero-page"

.section.registration
  -# .objgroup
  -#   .obj-pointer.obj{ :"data-type" => "Pointer"}
  -# %h2.title SOLD OUT / 不要再問了
  .content.zh-tw
    .title-wrapper
      %h3.title
        .span 報名方式
    %a.btn{ :href => "#" } 報名
    :markdown
      #### 早鳥優惠
      - 報名時間：2014/06/16 (Mon) -- 2014/07/18 (Fri)
      - 早鳥票新台幣 1,200 元
      - 學生票新台幣 300 元

      #### 一般票價
      - 報名時間：2014/07/19 (Sat) -- 2014/08/15 (Fri)
      - 一般票新台幣 1,500 元
      - 學生票新台幣 500 元

      #### 現場票價
      - 報名時間：2014/08/30 (Sat) -- 2014/08/31 (Sun)
      - 一般票新台幣 1,800 元
      - 學生票新台幣 600 元
      - 單日票新台幣 1,000 元

      #### 現場報名

      - 會議舉行當日可至現場報名新台幣 1,800 元。
      - 現場報名是網路售票有剩才開放，且數量可能非常少或無人數，額滿為止，額滿後恕不開放入場。

      #### 報名注意事項

      - 2014 年 8 月 29 日 (五) 下午5時前取消報名者，必須以書信方式寄至大會秘書處，報名費用將於會議結束後退還


      #### 補充說明

      ##### 「學生身分」須為以下兩點任一符合者

      - 持「學生證」（大專院校不含研究所），須蓋 102 學年度上下學期「註冊章」，且年齡 24 歲以下。
      - 持「身分證、駕照、健保卡、護照」四種有照片證件之一，須為民國 83 年 9 月後出生者，例如國中、高中職學生

      ##### 學生票現場驗票說明


      ##### 與會注意事項

      - 網路報名請妥善填寫真實資料，並攜帶有照片證件備用。
      - 請記住您的報名確認函內容，以供查驗身分。
      - 與會人員往返交通費及需住宿請自理。
      - 與會兩天中提供豐盛午餐及精緻下午茶點。
