.contact-map {
  margin-bottom: rhythm(0.5);
}
.contact-map .map-wrap {
  position: relative;
  padding-top: 67.5%;
}
.contact-map .map-wrap .google-map {
  color: black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
